
/* FORMULARIO LOGIN */
body {
    background:linear-gradient(120deg, #c2c6ff 44.9%, #eeeeee 45%)  fixed;
    /* background:linear-gradient(120deg, #4c79d34d 44.9%, #eeeeee 45%) no-repeat fixed; */
}
.form-login {
    width: 50%;
    margin: 0% 40%;
}

/* INPUTS - TEXTBOX */
.input-basic {
    width: 200px;
    border-style: groove;
    border-radius: 5px;
    border-color: rgb(210, 209, 209);
    height: 30px;
    width: 250px;
    font-size: 18px;
}

/* .text-login {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
} */

/* BOTÃO ENTRAR */
.button-basic {
    border-radius: 5px;
    border-color: #014F93;
    background-color: #014F93;
    color: #ffffff;
    height: 30px;
    width: 150px;
    margin: 0 45%;
}
.button-basic:hover {
    border-color: #f6ca47;
    background:  #f6ca47;
    color: #ffffff;
}

/* #button-submit {
    border-radius: 5px;
    background-color: #014F93;
    color: #ffffff;
    width: 100%;
    margin: 0 25%;
    border-color: rgb(210, 209, 209);
} */

/* BOTÃO CRIAR CONTA */
.button-criar-conta {
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 150px;
    margin: 0 45%;
    border-color: rgb(210, 209, 209);
}
.button-criar-conta:hover {
    background:  #f6ca47;
    color: #ffffff;
}

/* FORMULÁRIO MODAL */
.modal-style {
    width: 50%;
    margin: 5% 30% 25%;
    max-width: 500px;
    background-color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    border-style:groove;
}