/* https://developer.mozilla.org/pt-BR/docs/Web/CSS/CSS_grid_layout/Basic_concepts_of_grid_layout */
/* .wrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
  } */

/* FORMULARIO LOGIN */
body {
    background:linear-gradient(120deg, rgb(194, 206, 255) 44.9%, #eeeeee 45%)  fixed;
    /* background:linear-gradient(120deg, #4c79d34d 44.9%, #eeeeee 45%) no-repeat fixed; */
}

/* INPUTS - TEXTBOX */
.input-basic {
    width: 200px;
    border-style: groove;
    border-radius: 5px;
    border-color: rgb(230, 230, 230);
    height: 35px;
    width: 250px;
    font-size: 18px;
}

/* BOTÃO ENTRAR */
.button-basic {
    border-radius: 5px;
    border-color: #014F93;
    background-color: #014F93;
    color: #ffffff;
    height: 35px;
    width: 150px;
}
.button-basic:hover {
    border-color: #f6ca47;
    background:  #f6ca47;
    color: #ffffff;
}

/* BOTÃO CRIAR CONTA */
.button-criar-conta {
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 150px;
    border-color: rgb(210, 209, 209);
}
.button-criar-conta:hover {
    background:  #f6ca47;
    color: #ffffff;
}

/* FORMULÁRIO MODAL */
.modal-style {
    width: 400px;
    margin: 2% 30% 25%;
    background-color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 20px;
    border-style: groove;
}